@import url('https://fonts.googleapis.com/css2?family=Irish+Grover&family=Roboto:wght@400;500;900&display=swap');
@import './vars.module.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', serif;
  scroll-behavior: smooth;
}

body {
  overflow: hidden;
}