.container {
  display: flex;
  justify-content: space-between;
  height: 60px;
  padding: 0 20px 0 0;

  .leftSquare {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 55px;
    @media (min-width: 600px) {
      width: 65px;
    }
    background: #279e8b;
    .bookIcon {
      color: #fff;
      font-size: 32px;
    }
    img {
      width: 43px;
    }
  }

  .headerRight {
    @media (min-width: 600px) {
      flex: 1;
    }
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 50px;
    .inputBlock {
      display: flex;
      align-items: center;
      gap: 20px;
      .searchIcon {
        font-size: 28px;
        color: #279e8b;
      }
      input {
        font-size: 16px;
        border: none;
        outline: none;
        color: #909da5;

        &::placeholder {
          color: #b0bec7;
        }
      }
      @media (max-width: 600px) {
        display: none;
      }
    }
    .settings {
      display: flex;
      align-items: center;
      gap: 15px;
      .settingsIcon {
        cursor: pointer;
        font-size: 22px;
        color: rgb(165, 158, 158);
      }
      span {
        font-size: 16px;
        cursor: pointer;
        color: #279e8b;
        font-weight: 500;
      }
    }
  }
}
