.verse {
  display: flex;
  flex-direction: column;
  padding: 35px 30px 25px;
  border-radius: 10px;
  background-color: #fff;
  transition: 0.2s ease-in-out;
  box-shadow: 4px 5px 5px -1px rgb(34 60 80 / 20%);

  &.active {
  }

  .verseHeader {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    margin-bottom: 35px;
    .verseNumber {
      font-size: 22px;
      font-weight: 500;
      color: #279e8b;
    }
    .verseArabicText {
      font-size: 20px;
    }
  }

  .verseBody {
    display: flex;
    flex-direction: column;
    gap: 18px;
    .tafseerLink {
      display: flex;
      align-items: center;
      text-decoration: none;
      gap: 5px;
      color: #e9b75e;
      cursor: pointer;
      span {
        font-weight: 400;
      }
      .arrowIcon {
        font-size: 24px;
      }
    }
  }

  .verseFooter {
    border-top: 1px solid #edeff0;
    margin-top: 40px;
    padding-top: 20px;

    .resumeVerseIcon {
      font-size: 28px;
      cursor: pointer;
      color: #adbac0;
    }
  }

  &.active .verseFooter .resumeVerseIcon {
    color: #279e8b;
  }
}
