.sidebarMenu {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 40px 10px 20px 10px;

  .link {
    color: #BBC7CD;
    padding: 8px 10px;
    &.activeLink {
      color:#18262E;
      background-color: #E6EAEF;
      border-radius: 6px;
    }
  }
  
}
